<html>
<head>
<title>Home</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div></div>
<p>Add Task</p>
<form id="task-form">
    <input id="title" type="text">
    <input id="description" type="text">
    <button type="submit">Submit</button>
</form>
</body>
<script>
var html = '';

$.getJSON("/api/v1/tasks", function(result) {
    result.tasks.forEach(function (item) {
        html += '<li>Task:' + item.title + ' Description:' + item.description + ' Status:' + item.done + '</li>';
    });

    $('div').append(html);
});

$("#task-form").submit(function (e) {
    e.preventDefault();

    var data = {
            'title': $('#title').val(),
            'description': $('#description').val()
        }
    $.ajax({
        type : 'POST',
        url : '/api/v1/tasks',
        data: JSON.stringify(data),
        contentType: 'application/json; charset=UTF-8',
        success: function() {
            $("div").append('<li>Task:' + data.title + ' Description:' + data.description + 'Status: false</li>');
        }
    });

});
</script>
</html>