<html>
<head>
<title>Home</title>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $.getJSON("/api/v1/tasks", function(result){
        $.each(result['tasks'], function(key, item){
            $("div").append('<li>Task:' + item.title + ' Description:' + item.description + 'Status: ' + item.done + '</li>');
        });
    });
});
</script>
</head>
<body>
<div></div>
<p>Add Task</p>
<form id="task-form">
    <input id="title" type="text">
    <input id="description" type="text">
    <button type="submit">Submit</button>
</form>
<script>
$("#task-form").submit(function(e){

    e.preventDefault();

    var data = {
            'title': document.getElementById('title').value,
            'description': document.getElementById('description').value
        };

    var json = JSON.stringify(data);

    $.ajax({
        type : 'POST',
        url : '/api/v1/tasks',
        data: json,
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
        }
    });

});
</script>
</body>
</html>